* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/* body{
    height: 100%;
    overflow-y: hidden;
} */
ul {
    list-style-type: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;

    background-color: #ef66f9;
}

header>ul {
    display: flex;
    gap: 10px;
}

.btn-nav {
    cursor: pointer;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 13px;
    font-weight: 500;
}

@media screen and (max-width: 810px) {
    h1 {
        font-size: 22px;
    }

    .none{
        display: none;
    }

}

@media screen and (max-width: 510px) {
    .btn-nav {
        font-size: 14px;
    }
    .none-min{
        display: none;
    }

    h1 {
        font-size: 18px;
    }

}

/* Головна інформація */


.main-info {

    max-width: 1080px;
    margin: auto;
    width: 80%;

    padding: 40px 20px;
    gap: 30px;
    display: flex;
    align-items: center;
}

.all-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 1110px) {
    .main-info {

        display: flex;
        flex-direction: column;
    }

    .all-title {
        width: 80%;
    }

    .title-info {
        font-size: 16px;
    }

}

.main-photo {
    display: flex;
    gap: 10px;
    height: 420px;
}

.one-info-photo,
.two-info-photo {
    width: 225px;
}

.three-info-photo {
    width: 280px;
}

@media screen and (max-width: 630px) {

    .one-info-photo,
    .two-info-photo {
        width: 165px;
    }

    .main-photo {
        height: 330px;
    }


    .main-info {
        padding: 20px 10px;
    }

    .three-info-photo {
        width: 190px;
        height: 307px;
    }
}

@media screen and (max-width: 385px) {

    .one-info-photo,
    .two-info-photo {
        width: 115px;
    }

    .main-photo {
        height: 330px;
    }


    .main-info {
        padding: 20px 10px;
    }

    .three-info-photo {
        width: 160px;
        height: 220px;
    }
}

.main-photo>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-info {
    font-size: 42px;
    font-weight: 500;
}

.under-title-info {
    color: rgb(124, 124, 124);
}

.btn-info {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    background-color: #ef66f9;
    border: 0;
    padding: 7px 25px;
    border-radius: 12px;
    font-size: 18px;
}

/* --- Каталог продуктів --- */

.shop {
    margin: auto;
}


@media screen and (max-width: 700px) {
    .search {
        flex-direction: column;
        padding: 0 15px;
        gap: 20px;
    }
}

.products-title {
    font-size: 36px;
}

.search {
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0 25px;
}

.search-block {
    display: flex;
    align-items: center;

    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 0 15px;
}

.search-block:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
}

input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 210px;
    outline: none;
}

.btn-search {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
    color: #7c7c7c;
    border: 1px solid #9a9a9a;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}

/* .btn-search {
    text-align: center;
    position: absolute;
    border-radius: 3px;
    top: 11px;
    left: 220px;
    width: 20px;
    height: 20px;
    border: 1px solid #9a9a9a;
    background: white;
    font-weight: 600;
    font-size: 15px;
    color: #7c7c7c;
    cursor: pointer;
} */



.products {
    margin: auto;
    max-width: 1080px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 22px;
    gap: 10px;
    margin: auto;
}

.product>img {
    width: 310px;
}

@media screen and (max-width: 500px) {
    .product>img {
        width: 270px;
    }
}

.photo-product {
    border-radius: 12px;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-title {
    font-size: 24px;
}

.btn-buy {
    padding: 7px 15px;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    background-color: #ef66f9;
    border: 1px solid #ef66f9;
    border-radius: 12px;
    cursor: pointer;
}

.btn-bought {
    color: rgb(130, 130, 130);
    padding: 7px 15px;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(231, 231, 230);
    border: 1px solid rgb(211, 209, 209);
    border-radius: 12px;
    cursor: pointer;
}


/* --- Корзирна --- */
.wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.basket {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 360px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.main-basket {
    margin: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-basket>h2 {
    font-size: 28px;
}

.btn-close {
    display: flex;
    padding: 7px 20px;
    border-radius: 12px;
    border: 0;
    align-items: center;
    background-color: #ef66f9;
    border: 1px solid #ef66f9;
    border-radius: 12px;
    cursor: pointer;
}

.basket-products {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    margin-top: 15px;
    gap: 18px;
}

.card {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    border-radius: 22px;
    gap: 10px;
    width: 270px;

}

.info-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.card h2 {
    font-size: 18px;
}

.photo-card {
    border-radius: 12px;
}

.delete-card {
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 12px;
    cursor: pointer;

}

.order-products {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
}

.price-products {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 600;
}

.btn-order {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0px;
    background-color: #ef66f9;
    border: 1px solid #ef66f9;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 15px
}

.empty-basket{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.empty-basket img{
    margin: auto;
    width: 135px;
}
.empty-basket p{
    margin-top: 15px;
    font-size: 18px;
}
/* footer */

footer {
    background-color: #ef66f9;
    padding: 20px;
    margin-top: 25px;
}

.footer-wraper {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.social-media ul {
    display: flex;
    justify-content: space-between;
}

.social-media img {
    width: 32px;
    cursor: pointer;
}

.contact-us {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 700px) {
    .footer-wraper {
        flex-direction: column;
        gap: 15px;
    }

    .social-media {
        gap: 10px;
    }

    .social-media h2 {
        text-align: center;
    }

    .social-media ul {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 500px) {
    .footer-wraper {
        flex-direction: column;
        gap: 15px;
    }

    .social-media {
        gap: 10px;
    }

    .social-media h2 {
        font-size: 18px;
        text-align: center;
    }
    .contact-us p{
        font-size: 10px;
    }

    .contact-us h3 {
        font-size: 13px;
    }

    .social-media ul {
        justify-content: space-evenly;
    }
}





.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: #fff;
    padding:20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
}


.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modulInfo{
    margin: auto;
}

.modulInfo h3{
    text-align: center;
    margin-top: 10px;
    
}
.modulInfo img{
     display: block;
    margin: auto;
   
}
.modulInfo p{
    color: #6e6e6e;
    
}
@media screen and (max-width: 500px) {
    .modalContent{
        width: 300px;
    }
}